<?xml version="1.0"?>

<launch>
  <!-- arguments -->
  <arg name="file_path"       default="$(find offline_data)/file/exp01-02/slam_pose_graph.g2o"/> 
  <arg name="ds_size"         default="0.075"/> 
  <arg name="range_threshold" default="5"/> 

  <!-- launch offline_data -->
  <node name="offline_data" pkg="offline_data" type="offline_data" args="$(arg file_path) $(arg range_threshold) $(arg ds_size)"/>

</launch>
